<header>
    <div class="content-wrapper">
        <div class="float-left">
        </div>
    </div>
</header>
<div id="body">
    <div class="content-container">
        <div class="the-main-facts">
            <h2>What is this? </h2>
            <p>
                This site is currently serving as a web service to support a windows store app client for <a href="http://Avocado.io">Avocado.</a> 
                It's developed and supported by <a href="http://xdumaine.com">Xander Dumaine.</a>
            </p>
            <p>Xander Dumaine and this site is in no way affiliated with Avocado Software, Inc.</p>
            <p>
            Find us on Twitter
            <a href="https://twitter.com/avocado">@@Avocado</a> 
                <a href="https://twitter.com/xover9000">@@XOver9000</a><br>
            </p>
        </div>
    </div>
</div>
